@mixin make-grid-rows($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  .grid-row {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width  / 2);

    display: flex;
    flex-flow: row wrap;
    &, * {
      box-sizing: border-box;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat($columns, 1fr);
    }

    @each $breakpoint, $min in $breakpoints {
      &.grid-row-#{$breakpoint}-no-margins {
        @media (min-width: $min) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}